name: "Run Tests"
on: 
  pull_request: 
    branches: ["main"]
    types: [closed]
    paths:
      - services/**
  workflow_dispatch:

jobs:
  filter:
    runs-on: ubuntu-24.04
    defaults:
      run:
        shell: bash
    outputs:
      services: ${{ steps.filter.outputs.changes }}
    steps:
      - name: checkout
        uses: actions/checkout@v6.0.1

      - name: diff-check
        uses: dorny/paths-filter@v3
        id: filter
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          filters: .github/utils/file-filters.yaml
  
  build-container-image:
    runs-on: ubuntu-24.04
    if: ${{ needs.filter.outputs.services != '[]' && needs.filter.outputs.services != '' }}
    needs: ["filter"]
    strategy:
      fail-fast: false
      matrix:
        service: ${{ fromJson(needs.filter.outputs.services) }}
    defaults:
      run:
        shell: bash
        working-directory: ${{ matrix.service }}
    steps:
      - name: checkout
        uses: actions/checkout@v6.0.1
        with:
          fetch-depth: 0

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.docker_username }}
          password: ${{ secrets.docker_access_token }} 
      
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Get version from git
        run: echo "VERSION=$(git describe --tags --always)" >> $GITHUB_ENV

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: ${{ matrix.service }}
          push: true
          tags: adarsheluri/${{ matrix.service }}:${{ env.VERSION }}