name: "RUn Tests"
on: 
  pull_request: 
    branches: ["testing-new-workflow", "main"]
  workflow_dispatch:

env:
  NODE_DIR: services/node/api-node

jobs:
  test:
    runs-on: ubuntu-24.04
    defaults:
      run:
        shell: bash
        working-directory: ${{ env.NODE_DIR }}

    steps:
      - name: checkout
        uses: actions/checkout@v6.0.1

      - name: setup-node
        uses: actions/setup-node@v6
        with:
          node-version: 24
      
      - name: ls
        run: ls

      - name: check-cache
        id: cache
        uses: actions/cache/restore@v4
        with:
          path: ${{ env.NODE_DIR }}/node_modules
          key: ${{ runner.os }}-node-${{ hashFiles(format('{0}/package-lock.json', env.NODE_DIR)) }}
      
      - name: install-dependencies
        if: steps.cache.outputs.cache-hit != 'true'
        run: npm install

      - name: store-cache
        if: steps.cache.outputs.cache-hit != 'true'
        uses: actions/cache/save@v4
        with:
          path: ${{ env.NODE_DIR }}/node_modules
          key: ${{ runner.os }}-node-${{ hashFiles(format('{0}/package-lock.json', env.NODE_DIR)) }}
      
      - name: run-tests
        run: npm test
      

  

