name: "RUn Tests"
on: 
  pull_request: 
    branches: ["testing-new-workflow", "main"]
  workflow_dispatch:

env:
  NODE_DIR: services/node/api-node

jobs:
  test:
    runs-on: ubuntu-24.04
    defaults:
      run:
        shell: bash
        working-directory: ${{ env.NODE_DIR }}

    steps:
      - name: checkout
        uses: actions/checkout@v6.0.1

      - name: setup-node
        uses: actions/setup-node@v6
        with:
          node-version: 24
      
      - name: install-dependencies
        run: npm install
      
      - name: cache-node-modules
        uses: actions/cache@v4
        with:
          path: ./node_modules # The directory to cache
          key: ${{ runner.os }}-node-${{ hashFiles('package-lock.json') }}
      
      - name: run-tests
        run: npm test
      

  

