name: "RUn Tests"
on: 
  pull_request: 
    branches: ["testing-new-workflow", "main"]
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        service:
          - services/node/api-node
    defaults:
      run:
        shell: bash
        working-directory: ${{ matrix.service }}

    steps:
      - name: checkout
        uses: actions/checkout@v6.0.1

      - name: setup-dependencies
        uses: ./.github/actions/setup-dependencies
        with:
          install-node: true
          install-task: true

      - name: Cache Node modules
        id: cache
        uses: actions/cache@v4
        with:
          path: ${{ matrix.service }}/node_modules
          key: ${{ runner.os }}-node-${{ hashFiles(format('{0}/package-lock.json', matrix.service)) }}
      
      - name: install-dependencies
        if: steps.cache.outputs.cache-hit != 'true'
        run: task install
      
      - name: run-tests
        run: task test
      

  

